.footer{
    width: 80%;
    margin: auto;
    text-align: center;
}
.footer h4{
    font-weight: 600;
    margin: 20px 0;
}
.footer p{
    margin: 20px 0;
}
.icons i{
    color: #f44;
    margin: 0 13px;
    cursor: pointer;
}
.fa{
    color: #f44;
}